@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: local("PlusJakartaSans"),
   url("./fonts/Plus Jakarta Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Made Outer Sans";
  src: local("MadeOuterSans"),
   url("./fonts/MADE Outer Sans/MADE Outer Sans Regular PERSONAL USE.otf") format("truetype");
}

:root {
  --font-header: 'Made Outer Sans';
  --font-paragraph: 'Plus Jakarta Sans';

  --primary-color: #0B83D9;
  --danger-color: #D0021B;
}

button {
  font-family: var(--font-paragraph);
}